@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@100;300&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@100;300&family=Source+Sans+Pro:wght@300;400&display=swap');

body{
    margin:0;
    padding: 0;
    
}

header{
    width: 100%;
    height: 70px;
    margin-top: 3%;
}

.logo{
    float: left;
    margin-left: 5%;
    /* background-color: tomato; */
}
nav .navigation{
    width: 60%;
    height: 1vw;
    float:right;
    margin-right: 5%;
    padding-top: 1%;
    /* background-color: yellow; */
}

nav .navlist{
    display: inline-block;
    margin-left: 9%;
    text-align: center; 
    font-size: 1.5vw;
    position: relative;
    right:-15vw;
}

nav a {
    text-decoration: none;
    /* background-color: tomato; */
}

.herotext{
    margin-top: 4%;
    margin-left: 6%;
    padding-top: 3%;
    /* background-color: teal; */
    float: left;
    
}
.herotext h1{
    font-family: "Inter";
    font-size: 5vw;
}
.herotext h2{
    position: relative;
    right:-6px;
    font-family: "Poppins";
    font-size: 2vw;
}

.heroimg{
    width: 25%;
    margin-right: 15%;
    margin-top: 4%;
    padding-top: 5%;
    /* background-color:turquoise; */
    float: right;
}

.heroimg img{
    float: right;

}
.nava{
    font-family: "Poppins";
    font-weight: 300;
    color: black;
    font-size: 1.5vw;
}
.navaon{
  font-family: "Poppins";
  font-weight: 300;
  color: black;
  font-size: 1.5vw;
}
.navaon::after{
  content: '';
position: absolute;
width: 100%;
transform: scaleX(1);
height: 2px;
bottom: 0;
left: 0;
background-color: #443fbb;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}

.navaon:hover:after {
  transform: scaleX(1);
  transform-origin: bottom right;
}
.navaon:hover{
  background-color: transparent;
}

.nava::after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #443fbb;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nava:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.nava:hover{
    background-color: transparent;
}
.footer{
    margin-top: 10%;
    text-align: center;
}

.blank{
    height: 30%;
    margin-top: 35%;
    /* background-color: tomato; */
}
.aboutimg{

    text-align: center;
    /* background-color: teal; */
    margin-top: 10%;

    
}
.abouttext{
    float: right;
    /* background-color: violet; */
    padding-right: 10%;
    padding-left: 5%;
    margin-top: 12%;
    
}
.abouttext p{
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 1.5vw;
}
/* Create two equal columns that floats next to each other */
.aboutimg {
    float: left;
    width: 40%;
 
  }
  .abouttext{
    float: right;
    width: 50%;
  

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .aboutimg {
      width: 100%;
    }
    .abouttext{
        width: 100%;
    }
  }
.aboutmore{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
.aboutmore p{
    font-family: "Source Sans Pro";
    font-size: 1.2vw;
    letter-spacing: 0.04em;
}
.collage{
    margin: 10%;
}
.projui{
    position: relative;
    text-align: center;
    height: 15vw;
    margin-top: 10%;
    margin-left: 30%;
    -webkit-filter: sepia(0);
	filter: sepia(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.projui:hover{
    -webkit-filter: sepia(20);
	filter: sepia(20);
}
#firstui{
    margin-top: 5%;
}
.projgames{
    position: relative;
    text-align: center;
    height: 15vw;
    margin-top: 10%;
    margin-right: 30%;
    -webkit-filter: sepia(0);
	filter: sepia(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.projgames:hover{
    -webkit-filter: sepia(20);
	filter: sepia(20);
}
.projother{
    position: relative;
    text-align: center;
    height: 15vw;
    margin-top: 10%;
    margin-left: 30%;
    -webkit-filter: sepia(0);
	filter: sepia(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.projother:hover{
    -webkit-filter: sepia(20);
	filter: sepia(20);
}
.uitext{
position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.uitext h1{
    font-family: "Inter";
    font-size: 3vw;
    color: white;
}
.gametext{
    position: absolute;
      top: 60%;
      left: 70%;
      transform: translate(-50%, -50%);
    }
.gametext h1{
        font-family: "Inter";
        font-size: 3vw;
        color: white;
    }
.othertext{
        position: absolute;
          top: 60%;
          left: 30%;
          transform: translate(-50%, -50%);
        }
.othertext h1{
            font-family: "Inter";
            font-size: 3vw;
            color: white;
        }
#phonestory{
    width: 70%;
    position: absolute;
    left: 55%;
}
.uititle h1{
    width: 100%;
    margin-top: 7%;
    margin-left: 8%;
    font-family: "Poppins";
    font-weight: 200;
    font-size: 3vw;
}
.projtitle{
    width: 70%;
}
.projtitle h1{
    width: 100%;
    margin-top: 10%;
    margin-left: 8%;
    font-family: "Inter";
    font-weight: 400;
    font-size: 4vw;
}
.uxproj{

   position: relative;
   width: 100%;
   height: 40vw;
   right: 8%;
   /* background-color: blue; */

}
.uxprojimg{
 float: right;
 height: 30vw;
  margin-top: 3%;
  /* background-color: brown; */

}
.uxprojtext{
  width:50%;
  position:absolute;
  top:22%;
  left:16.5%;
 
}
.uximg{
    float: right;
}
.uxprojtext p{
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 1.5vw;
}
.problemux {
    width: 100%;
    text-align: center;
}
.problemux h1{
    font-family: "Inter";
    font-weight: 400;
    font-size: 2.5vw;
}
.problemux p{
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 1.2vw;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    text-align-last: center;
}
.probrow {
    display: flex;
    margin-top: 5%;
    margin-left: 15%;
  }
  
  .probcolumn {
    flex: 33.33%;
    
  }
  .researchux{
    width: 85%;
    text-align: left;
    margin-top: 8%;
    margin-left: 8%;
    margin-bottom: 3%;
  }

  .researchux h1{
    font-family: "Inter";
    font-weight: 400;
    font-size: 2.5vw;
    padding-left: 3%;
}
.researchux p{
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 1.2vw;
    padding-left: 3.2%;

}
.lrow {
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    
  }
  
  .lcolumn {
    flex: 50;
    
  }
  .lcolumnyt {
    flex: 50;
    opacity: 1;
    transition: 0.3s;
    
  }
  .lcolumnyt:hover{
    opacity: 0.5;
}

  .lcolumn h1{
    font-family: "Inter";
    font-weight: 400;
    font-size: 2vw;
  }
  .lcolumn p{
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 1.3vw;
    text-align: justify;
    text-align-last: left;
    padding-right: 15%;

  }
  .rrow {
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .rrcolumn {
    flex: 50;
  
  }

  .rrcolumn h1{
    text-align: right;
    font-family: "Inter";
    font-weight: 400;
    font-size: 2vw;
  }
  .rrcolumn p{
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 1.3vw;
    text-align: justify;
    text-align-last: right;
    padding-left: 15%;

  }

.affdiag{
   
    text-align: center;
}